function Main.main 4
push constant 18
call String.new 1
push constant 0
push constant 16
call String.new 1
add
push constant 1
add
call Output.printString 1
call Math.Divide 2
call Output.printInt 1
push constant 0
return
